<html>
    <head>
        <title>Edit {{couse.name}}</title>
        <style>
              .form-container {
                margin:10px;
                padding:10px;
                border: 1px solid grey;
              }

        </style>
    </head>
    <body>
      <h1>Edit {{course.name}}</h1>
      <div class="form-container">
        <form method="POST" action="">
          {% csrf_token %}
          <label>Name:</label>
          <input type="text" value={{course.name}} name="name"/>

          <label>Description:</label>
          <input type="text" value={{course.descr}} name="descr"/>

          <label>Start Date:</label>
          <input type="date" value={{start_date}} name="start_date"/>

          <label>End Date:</label>
          <input type="date" value={{end_date}} name="end_date"/>

          <input type="submit" value="edit" />
        </form>
      </div>
    </body>
</html>
