<html>
    <head>
        <title>Edit {{couse.name}}</title>
        <style>
              .form-container {
                margin:10px;
                padding:10px;
                border: 1px solid grey;
              }

        </style>
    </head>
    <body>
      <h1>Edit {{course.name}}</h1>
      <div class="form-container">
        <form method="POST" action="">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="edit" />
        </form>
      </div>
    </body>
</html>
